*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(93, 114, 121);
}
.card-box{
    width: 320px;
    text-align: center;
    border-radius: 08px;
    background-color: #fff;
    margin: 0 50px;
    overflow:hidden;
    border: black;
}
.card-header{
    background-image: linear-gradient(to bottom,#fff,#030441);
    padding: 60px 40px;
}
.image{
    display: inline-block;
    padding: 05px;
}
.image img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin-top: -50px;
}
.name{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin: 05 0px;
    text-transform: uppercase;
}
.position{
    font-size: 15px;
    color: #0c1d61;
    font-weight: 400;
    text-transform: uppercase;
}
.description{
    text-align: center;
}
.buttons.features{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}
.features ul{
    display: flex;
}
.features ul li{
    margin:10px;
    height: 47px;
    width: 47px;
    display: flex;
    cursor: pointer;
    color: #fff;
    list-style-type: none;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 2px solid #5372f0;
    transition: all 0.3s ease;
}
ul li:is(:hover,:active){
    color: #fff;
    background-color: #5372f0;
}
.ctn-btn{
    display: inline-block;
    padding: 07px 50px;
    color: #5372f0;
    border: 2px solid #5372f0;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.3s linear;
}
.ctn-btn :hover{
    background-color: #5372f0;
    color: #f2f2f2;
}
.card-footer{
    background-color: #fff;
    padding: 10px 05px;
    align-items: center;
}
.numbers{
    display: flex;
    align-items: center;
}
.item{
    flex: 1;
    text-transform: uppercase;
    font-size: 10px;
    color: #5372f0;
}
.item span{
    display: block;
    color: #333;
    font-size: 20px;
}
.border{
    width: 1px;
    height: 30px;
    background-color: #bbb;
}